<html>
<head>
<script src="HomePage.js"></script>
<script src="SignUp.js"></script>
<script src="SignIn.js"></script>
<script src="Remainders.js"></script>
<script src="RemainderList.js"></script>
<style>
div {
	
}

input {
	width: 45%;
	height: 30px;
	border-radius: 10px;
}

button {
	font-size: 16px;
	background-color: #034f84;
	padding: 8px 32px;
	border-radius: 10px;
	color: white;
}

h2 {
	color: white;
}
</style>
</head>
<body>
	<div ng-controller="RemaindersListCtrl" align="center">
		<br> <br> <br> <br>
		<h2>Available Remainders</h2>
		<div style="background-color: #b1cbbb; width: 80%;">
			<br> <br> <input type="text" ng-model="find" />
			<h5>(Type Name to Search)</h5>
			<table border="0">
				<thead>
					<tr>
						<th width="10%">Title</th>
						<th width="10%">Description</th>
						<th width="10%">Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="remainder in remainders|filter:find" align="center">
						<td width="10%">{{remainder.title}}</td>
						<td width="10%">{{remainder.description}}</td>
						<!-- <td width="10%">{{remainder.date_day}}</td> -->
					</tr>
				</tbody>
			</table>
			<br> <br>
		</div>
	</div>
</body>
</html>